<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="col-2 user-panel" th:fragment="userpanel">
        <div class="user-buttons">
            <h2>User Panel</h2>
            <p>Name Surname</p>
            <div class="panel-btns">
                <a href="/schedule" class="btn">Schedule</a><br>
                <a href="/grades" class="btn">Grades</a><br>
                <a href="/assignments" class="btn">Assignments</a>
                <a href="/meetings" class="btn">Meetings</a>
            </div>
        </div>
        <div class="date-time" id="dateTime"></div>
    </div>
</body>

</html>