<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Lesson</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container parent">
    <div class="lesson-planner">
        <h2>Create New Lesson</h2>
        <form action="/lesson-planner" method="post">
            <div class="form-group">
                <label for="description">Description</label><br>
                <textarea id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="teacher_id">Teacher ID</label><br>
                <input type="number" id="teacher_id" name="teacher_id" required>
            </div>
            <div class="form-group">
                <label for="class_id">Class ID</label><br>
                <input type="number" id="class_id" name="class_id" required>
            </div>
            <div class="form-group">
                <label for="duration">Lesson duration</label><br>
                <input type="number" id="duration" name="duration" required>
            </div>
            <div class="form-group">
                <label for="duration">Lesson starts date</label><br>
                <input type="date" id="date" name="date" required>
            </div>
            <button class="submit-btn" type="submit">Create Lesson</button>
        </form>
    </div>
</div>
</body>
</html>
